<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>jdbc/projetoUninove</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

<welcome-file-list>
 
   <welcome-file>home</welcome-file>
    
   <welcome-file>index.html</welcome-file>
    
 </welcome-file-list>

<!--  JDBCFilter & CookieFilter have the same  url-pattern =/*, 
    you must be configured to ensure that JDBCFilter  is  executed first. 
    Therefore, you need to declare the order in web.xml 
    (There is no way to declare the order by Annotation). 

 REFERÊNCIA : https://o7planning.org/en/10285/create-a-simple-java-web-application-using-servlet-jsp-and-jdbc#a812142
    -->


<filter-mapping>
    <filter-name>FiltroJDBC</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
 
<filter-mapping>
    <filter-name>FiltroCookies</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>



</web-app>
